/* Images */

.annotator-viewer .annotator-touch-controls .annotator-edit::after {
	/* Assign the image once to ensure data uri is not repeated. */
	background-image: url(../images/icon-sprite.png);
}

.annotator-selection-handle::after {
  background-image: url(../images/handle.png);
}

/* Generic Touch Widget Styles */
.annotator-touch-widget {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	border: 1px solid rgba(0, 0, 0, 0.8);
	background: rgba(0, 0, 0, 0.85);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(rgba(57, 57, 57, 0.85)),
		color-stop(0.5, rgba(58, 58, 58, 0.85)),
		color-stop(0.5, rgba(0, 0, 0, 0.85)),
		to(rgba(0, 0, 0, 0.85))
	);
	background: -moz-linear-gradient(
		-90deg,
		from(rgba(57, 57, 57, 0.85)),
		color-stop(0.5, rgba(58, 58, 58, 0.85)),
		color-stop(0.5, rgba(0, 0, 0, 0.85)) 50%,
		to(rgba(0, 0, 0, 0.85))
	);
	background: -webkit-linear-gradient(
		-90deg,
		from(rgba(57, 57, 57, 0.85)),
		color-stop(0.5, rgba(58, 58, 58, 0.85)) 50%,
		color-stop(0.5, rgba(0, 0, 0, 0.85)) 50%,
		to(rgba(0, 0, 0, 0.85))
	);
	background: linear-gradient(
		-90deg,
		from(rgba(57, 57, 57, 0.85)),
		color-stop(0.5, rgba(58, 58, 58, 0.85)) 50%,
		color-stop(0.5, rgba(0, 0, 0, 0.85)) 50%,
		to(rgba(0, 0, 0, 0.85))
	);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
	/* Removes the tap outline on elements that have bound touch events */
	-webkit-tap-highlight-color: transparent;
}

.annotator-touch-widget-inner {
	background: #efefef;
	border: 1px solid rgba(0, 0, 0, 0.8);
	margin: 7px;
	padding: 6px;
	line-height: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.8);
}

.annotator-touch-widget .annotator-button {
	cursor: pointer;
	font-size: 16px;
	line-height: 44px;
	padding-left: 40px;
	padding-right: 20px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.annotator-touch-widget .annotator-button[disabled] {
	opacity: 0.3;
	cursor: default;
}

.annotator-touch-widget .annotator-button::after {
	left: 15px;
}

.annotator-touch-widget .annotator-add::after,
.annotator-touch-widget .annotator-add:hover::after,
.annotator-touch-widget .annotator-add:focus::after,
.annotator-touch-widget .annotator-add.annotator-focus::after {
	margin-top: -7px;
	background-position: 0 -270px;
}

/* Adder Styles */

.annotator-touch-controls {
	position: fixed;
	bottom: 15px;
	right: 15px;
	min-width: auto;
}

.annotator-touch-controls.annotator-touch-hide {
	right: -9999em;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0 ease-in, right 0s 0.3s linear;
	-moz-transition: opacity 0.2s 0 ease-in, right 0s 0.3s linear;
	-ms-transition: opacity 0.2s 0 ease-in, right 0s 0.3s linear;
	-o-transition: opacity 0.2s 0 ease-in, right 0s 0.3s linear;
	transition: opacity 0.2s 0 ease-in, right 0s 0.3s linear;
}

.annotator-touch-controls .annotator-button {
	line-height: 56px;
}

/* Viewer Overrides*/

.annotator-viewer .annotator-widget {
	min-width: 380px;
}

.annotator-viewer div {
	padding: 12px;
}

.annotator-viewer div:first-of-type {
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.annotator-viewer .annotator-touch-controls {
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	display: none;
	background: rgba(255, 255, 255, 0.6);
	background: -webkit-gradient(
		linear, right top, left top,
		from(rgba(255, 255, 255, 0.8)),
		color-stop(0.9, rgba(255, 255, 255, 0.8)),
		to(rgba(255, 255, 255, 0))
	);
	background: -moz-linear-gradient(
		0deg,
		from(rgba(255, 255, 255, 0.8)) 90%,
		to(rgba(255, 255, 255, 0))
	);
	background: -webkit-linear-gradient(
		0deg,
		from(rgba(255, 255, 255, 0.8)) 90%,
		to(rgba(255, 255, 255, 0))
	);
	background: linear-gradient(
		0deg,
		from(rgba(255, 255, 255, 0.8)) 90%,
		to(rgba(255, 255, 255, 0))
	);
	-webkit-box-pack: end;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-moz-box-pack: end;
	-moz-box-align: center;
	-moz-box-orient: horizontal;
	box-pack: end;
	box-align: center;
	box-orient: horizontal;
	padding: 10px;
	bottom: 0;
	padding: 0 10px 0 20px;
}

.annotator-viewer li.annotator-visible .annotator-touch-controls {
	display: -webkit-box;
	display: -moz-box;
	display: box;
}

.annotator-viewer .annotator-touch-controls button {
	line-height: 44px;
	padding-left: 40px;
	padding-right: 20px;
	margin-left: 6px;
}

.annotator-viewer .annotator-touch-controls .annotator-edit::after {
	background-position: 0 -15px;
}

.annotator-viewer .annotator-touch-controls .annotator-edit:hover::after,
.annotator-viewer .annotator-touch-controls .annotator-edit:focus::after,
.annotator-viewer .annotator-touch-controls .annotator-edit:active::after,
.annotator-viewer .annotator-touch-controls .annotator-edit.annotator-focus::after {
	background-position: 0 -30px;
}

.annotator-viewer .annotator-touch-controls button::after {
	left: 15px;
}

/* Editor Overrides */

.annotator-touch-editor {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-moz-box-align: center
	box-pack: center;
	box-align: center
}

.annotator-touch-editor .annotator-touch-widget {
	pointer-events: all;
	position: relative;
	width: 80%;
	max-width: 680px;
}

.annotator-touch-editor .annotator-touch-widget-inner {
	position: static;
	width: auto;
	padding: 0;
	background: #fff;
}

.annotator-touch-editor .annotator-widget::after {
	display: none;
}

.annotator-touch-editor .annotator-widget .annotator-item {
	border-top-color: rgba(0, 0, 0, 0.15);
}

.annotator-touch-editor .annotator-widget .annotator-item,
.annotator-touch-editor.annotator-editor .annotator-item label,
.annotator-touch-editor.annotator-editor .annotator-item input,
.annotator-touch-editor.annotator-editor .annotator-item textarea {
	font-size: 18px;
}

.annotator-touch-editor.annotator-editor .annotator-item input,
.annotator-touch-editor.annotator-editor .annotator-item label {
	line-height: 30px;
	margin-left: 8px;
}

.annotator-touch-editor.annotator-editor .annotator-item input[checkbox] {
	font-size: large;
}

.annotator-touch-editor .annotator-widget .annotator-item:first-child textarea {
	font-size: 18px;
	background-color: #fff;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.annotator-touch-editor .annotator-resize {
	display: none;
}

.annotator-touch-editor .annotator-controls {
	padding: 7px;
	background-color: #efefef;
	background-image: none;
}

.annotator-touch-editor .annotator-item-quote {
	font-size: 16px;
	line-height: 1.2;
	border-color: #cebfa2;
	background-color: #fbfae9;
	color: #a58129;
	padding: 10px 7px;
}

.annotator-item-quote span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #a58129;
	font-family: Georgia, serif;
}

.annotator-item-quote.annotator-touch-expand span {
	overflow: visible;
	text-overflow: inherit;
	white-space: inherit;
}

.annotator-item-quote button {
	font-size: 14px;
	line-height: 44px;
	margin-top: -13px;
	float: right;
	text-transform: uppercase;
	font-weight: bold;
	color: #a58129;
	border: none;
	background: none;
	margin-left: 10px;
	cursor: pointer;
}

/* Icon only button styles */

[data-annotator-use-icons] .annotator-touch-widget .annotator-button {
	/* width & overflow is required by Android WebKit */
	width: 1px;
	overflow: hidden;
	text-indent: -999em;
	padding-left: 25px;
}

[data-annotator-use-icons] .annotator-touch-controls .annotator-button {
	padding-left: 35px;
}

[data-annotator-use-icons] .annotator-touch-controls .annotator-button::after {
	left: 20px;
}

[data-annotator-use-icons] .annotator-viewer .annotator-touch-controls button {
	padding-left: 25px;
	text-indent: -9000em;
}

[data-annotator-use-icons] .annotator-viewer .annotator-touch-controls button::after {
	left: 15px;
}

[data-annotator-use-icons] .annotator-viewer .annotator-widget {
	min-width: 320px;
}

/* Highlighter Selection Styles */

.annotator-selection-handle {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	left: 0;
	padding: 0;
	margin-left: -22px;
	margin-top: -22px;
	border-radius: 50%;
	/* Removes the tap outline on elements that have bound touch events */
	-webkit-tap-highlight-color: transparent;
}

.annotator-selection-handle::after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: -5px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.annotator-selection-start::after {
  top: -5px;
  bottom: auto;
  background-position: 0 -20px;
}

.annotator-selection-hide .annotator-selection-handle {
  display: none;
}

/* Styles for smaller screens */

@media only screen and (max-width: 480px) {
	.annotator-touch-editor {
		-webkit-box-align: start;
		-moz-box-align: start;
		box-align: start;
	}

	.annotator-touch-editor .annotator-touch-widget {
		width: 100%;
		max-width: auto;
		margin: 0;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}

	.annotator-touch-editor .annotator-touch-widget-inner {
		width: 100%;
		max-width: auto;
		margin: 0;
		border: 0;
	}

	.annotator-touch-editor .annotator-controls {
		border-bottom: 1px solid #D4D4D4;
	}

	.annotator-touch-editor .annotator-touch-widget,
	.annotator-touch-editor .annotator-touch-widget-inner,
	.annotator-touch-editor .annotator-touch-widget .annotator-item:first-child textarea,
	.annotator-touch-editor .annotator-controls {
		border-radius: 0;
	}
}
